<div id="github">
  <h3>GitHub Account</h3>

  <p>
    You will need an account at <a href="https://github.com/">GitHub.com</a>, and 
    basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions 
      for keeping your email address private</a> provided at GitHub.
  </p>
  
</div>
