<div id="github">
  <h3>GitHub Account</h3>

  <p>
    You will need an account at <a href="https://github.com/">GitHub.com</a>. 
    You can signup for a free Github account at <a href= "https://github.com/signup">https://github.com/signup</a>.
    
    <br>Through the <a href= "https://docs.github.com/en/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-for-your-schoolwork/about-github-education-for-students">Github education program</a>, 
    students get additional free services beyond the basic free account.<br>
    
    <br> If you are concerned about what personal information (specifically contact information) is revealed through GitHub you may review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions 
      for keeping your email address private</a> provided by GitHub.
  </p>
  
</div>
